report/icst24.pdf
report/esem24.pdf
report/emse24.pdf
report/example-eps-converted-to.pdf
report/icse24-nlbse.pdf
report/bsc-research-project-proposal.pdf
catalogue/catalogue.pdf
presentation/siesta-2023.html
notebooks/
data/
*.csv
presentation/siesta-2023_files
